*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(243, 242, 242);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_1{
    width: 150px;
}
.fondo{
    background-color: rgb(243, 243, 243);
}

/*pagina del index*/
.imgcarrusel {
    height: 500px;
    object-fit: cover;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container figure{
    position: relative;
    height: 550px;
    width: 600px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
}
.container figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.container figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 87, 85, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.container figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.container figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.container figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}
.container figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;

}
.Nuestros_Modelos{
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
}
.modelo__section{
    background: linear-gradient(to left, rgb(145, 145, 145), rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 50%;
    margin: auto 100px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.modelo__section img{
    width: 200px;
    border-radius: 30px;
}
.modelo__section h2{
    margin: 0;
    color: white;
}
.modelo__section p{
    color: aliceblue;
    margin-right: 15px;

}
.modelo__section_2{
    background: linear-gradient(to left, rgb(145, 145, 145), rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 50%;
    margin: auto 550px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.modelo__section_2 img{
    width: 200px;
    border-radius: 30px;
}
.modelo__section_2 h2{
    margin: 0;
    color: rgb(255, 253, 253);
}
.modelo__section_2 p{
    color: aliceblue;
    margin-right: 15px;

}
@media (max-width: 800px){
    .modelo__section_2{
        background-color: #7a7a7a;
        display: block;
        justify-content: space-between;
        padding: 30px;
        width: 400px;
        margin: auto;
        margin-top: 50px;
        border-radius: 20px;
        box-shadow: 10px 10px 10px rgb(0, 0, 0);
    }
    .modelo__section{
        background-color: #7a7a7a;
        display: block;
        justify-content: space-between;
        padding: 30px;
        width: 400px;
        margin: auto;
        margin-top: 50px;
        border-radius: 20px;
        box-shadow: 10px 10px 10px rgb(0, 0, 0);
    }
    .principal {
        display: block;
        border: solid 10px black;
        border-radius: 100px;
        margin: 70px auto;
        padding: 5px;
        height: 500px;
        width: 450px;
    }
}
.principal {
    display: block;
    border: solid 10px black;
    border-radius: 100px;
    margin: 70px auto;
    padding: 5px;

}

/*pagina de ropa*/
.tituloropa{
    font-size: 100px;
    text-align: center;
    border: solid 10px rgb(243, 243, 243);
    border-radius: 40px;
    padding: 70px;
}
.subtitulo{
    color: white;
    background-color: rgb(110, 104, 104);
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 250%;
}
.contenedor__ropa{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px; 
}
@media (max-width: 1238px){
    .contenedor__ropa{
        grid-template-columns: repeat(2,1fr);
        gap: 100px; 
    }
}
@media (max-width: 800px){
    .contenedor__ropa{
        grid-template-columns: repeat(1,1fr);
        gap: 100px; 
    }
}
.ropa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-color: black;
    border-radius: 5px;
}
.ropa__elegante{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}
.titulo__elegante{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.descripcion__elegante{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}
.precio__elegante{
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(110, 104, 104);
    text-align: center;
}
.subtitulo__promo{
    color: white;
    background-color: rgb(110, 104, 104);
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 250%;
    margin-bottom: 150px;
}

.contenedor_btn{
    display: flex;
    height: 10vh;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.btn{
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 10px;
}
.btn-1{
    overflow: hidden;
    border: 3px solid rgb(0, 0, 0);
    z-index: 1;
}
.btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    top: -200%;
    background-color: rgb(77, 76, 76);
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: -1;
}
.btn-1:hover::before{
    top: 0;
    border-radius: 0%;
}
/*pagina de promociones*/
.cuotas{
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    border: solid 10px black;
    border-radius: 10px;
    margin: 150px;
    padding: 5px;
}
@media (max-width: 800px){
    .cuotas{
        background-color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        border-radius: 10px;
        margin: 25px;
        padding: 5px;
    }
}
.contenedor__ropa2{
    columns: ;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    margin-left: 65px;
    
}
.ropaas__2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
    background-color: white(110, 104, 104);
    
}
.ropa__elegante2{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 10px solid;
}
.titulo__elegante2{
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; 
}
.descripcion__elegante2{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.precioelegante__promo{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-align: center;
}
.precio__elegantee{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: line-through;
}
.botton_elegante2{
    display: block;
    padding: 10px 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
}

/*pagina de contactos*/
@keyframes texto{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.ayuda{
    text-align: center;
    display: block;
    margin: 60px auto;
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.subtitulo__form{
    color: white;
    background-color: rgb(110, 104, 104);
    display: block;
    text-align: center;
    margin: 30px;
    padding: 10px;
    
    font-size: 250%;
}
.form{
    background-color: rgb(243, 243, 243);
    margin-top: 40px;
    margin: 0 auto;
    max-width: 500px;
}
.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}
.input,
.textarea{
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

/*pagina de nosotros*/
.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_nosotros img{
    width: 20px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}
.parrafo_nosotros{
    margin: 70px auto;
    font-size: 30px;
}
@media (max-width: 800px){
    .nosotros{
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .parrafo_nosotros{
        margin: 5px;
        font-size: 20px;
    }
    .logo_nosotros{
        height: 350px;
        margin-left: 50px;
    }
}
.container__2{
    width: 100%;
    display: flex;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px; 
}
@media (max-width: 1238px){
    .container__2{
        grid-template-columns: repeat(2,1fr);
        gap: 100px; 
    }
}
@media (max-width: 800px){
    .container__2{
        grid-template-columns: repeat(1,1fr);
        gap: 100px; 
    }
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 350px;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.card .contenido a{
    text-decoration: none;
    display: inline block;
    margin-top: 20px;
    color: blue;
    border: 1px solid blue;
    border-radius: 15px;
    transition: all 400ms ease;
    padding: 10px;
}
.card .contenido a:hover{
    background-color: blue;
    color: white;
}
.subtitulo__2{
    color: black;
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 250%;
}
.galeriaimg{
    width: 95%;
    border-radius: 20px;
}
.galeriaimg:hover{
    opacity: 10;
    border: solid black 2px;
}
.roow{
    display: flex;
    padding: 10px;
}
.colums{
    flex: 5%;
    padding: 10px;
}
.colums .galeriaimg{
    margin-top: 20px;
}

/*footer*/
footer{
    width: 100%;
    background-color: rgb(146, 143, 143);
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}
.box__footer .h2__footer{
    margin-bottom: 20px;
    color: white;
    font-weight: 700;

}
.box__footer a{
    margin: 10px;
    color: white;
    font-weight: 600;
}
.box__footer a:hover{
    opacity: 0.8;
}
.box__footer a .fab {
    font-size: 40px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}
.box__copyright hr{
    border: none;
    height:  1px;
    background-color: #7a7a7a;
}