.precio__elegantee {
  font-size: 1rem;
  text-align: center;
  color: rgb(16, 16, 16);
  text-decoration: line-through;
}

.precioelegante__promo {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  color: rgb(244, 9, 9);
}

.parrafo_nosotros {
  margin: 70px auto;
  font-size: 30px;
  color: rgb(16, 16, 16);
}

.tituloropa {
  font-size: 450px;
  text-align: center;
  border: solid 10px rgb(1, 1, 1);
  border-radius: 40px;
  padding: 70px;
}

.subtitulo__promo {
  animation-name: texto;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 242, 242);
}

header {
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
}
header .fondo {
  background-color: rgb(243, 243, 243);
}

.logo_1 {
  width: 150px;
}

.imgcarrusel {
  height: 500px;
  object-fit: cover;
}

.container {
  display: flex;
  margin: 5rem auto;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.container figure {
  position: relative;
  height: 550px;
  width: 600px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.container figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.container figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 87, 85, 0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.container figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.container figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}

.container figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}

.container figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}

.Nuestros_Modelos {
  font-family: "Arvo", serif;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 7rem;
}

.modelo_section {
  display: grid;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.modelo__section {
  background: linear-gradient(to left, rgb(145, 145, 145), rgb(0, 0, 0));
  display: flex;
  justify-self: flex-start;
  padding: 30px;
  width: 71%;
  border-radius: 20px;
  margin-bottom: 5rem;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.modelo__section img {
  width: 200px;
  border-radius: 30px;
}

.modelo__section h2 {
  margin: 0;
  color: rgb(255, 255, 255);
}

.modelo__section p {
  color: rgb(243, 249, 255);
  margin-right: 15px;
  font-size: 25px;
}

.modelo__section_2 {
  background: linear-gradient(to left, rgb(145, 145, 145), rgb(0, 0, 0));
  display: flex;
  justify-self: flex-end;
  padding: 30px;
  width: 71%;
  border-radius: 20px;
  margin-bottom: 5rem;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.modelo__section_2 img {
  width: 200px;
  border-radius: 30px;
}

.modelo__section_2 h2 {
  margin: 0;
  color: rgb(255, 253, 253);
}

.modelo__section_2 p {
  color: aliceblue;
  margin-right: 15px;
  font-size: 25px;
}

@media (max-width: 800px) {
  .container {
    display: grid;
    margin: 5rem auto;
  }
  .container figure {
    position: relative;
    max-width: 400px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .container figure img {
    max-width: 400px;
    transition: all 500ms ease-out;
  }
  .modelo__section {
    background-color: #7a7a7a;
    display: block;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
  }
  .modelo__section_2 {
    background: linear-gradient(to left, rgb(145, 145, 145), rgb(0, 0, 0));
    display: block;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
  }
  .principal {
    border: solid 10px black;
    border-radius: 100px;
    margin: 70px auto;
    padding: 5px;
    max-width: 450px;
    width: 100%;
  }
}
.principal {
  display: block;
  border: solid 10px black;
  border-radius: 100px;
  margin: 70px auto;
  padding: 5px;
}

.tituloropa {
  font-family: "Arvo", serif;
  font-size: 100px;
  text-align: center;
  border: solid 10px rgb(243, 243, 243);
  border-radius: 40px;
  padding: 70px;
}

.subtitulo {
  font-family: "Arvo", serif;
  color: white;
  background-color: rgb(110, 104, 104);
  display: block;
  text-align: center;
  margin: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
  font-size: 250%;
}

.contenedor__ropa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

@media (max-width: 1238px) {
  .contenedor__ropa {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
}
@media (max-width: 800px) {
  .tituloropa {
    font-size: 45px;
    text-align: center;
    border: solid 10px rgb(243, 243, 243);
    border-radius: 40px;
  }
  .contenedor__ropa {
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }
}
.ropa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: black;
  border-radius: 5px;
}

.ropa__elegante {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

.titulo__elegante {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.descripcion__elegante {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.precio__elegante {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(110, 104, 104);
  text-align: center;
}

.contenedor_btn {
  display: flex;
  height: 10vh;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.btn {
  position: relative;
  padding: 20px 50px;
  text-decoration: none;
  color: #000000;
  letter-spacing: 10px;
}

.btn-1 {
  overflow: hidden;
  border: 3px solid rgb(0, 0, 0);
  z-index: 1;
}
.btn-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: -200%;
  background-color: rgb(77, 76, 76);
  border-radius: 50%;
  transition: all 0.6s ease;
  z-index: -1;
}
.btn-1:hover::before {
  top: 0;
  border-radius: 0%;
}

.cuotas {
  font-family: "Arvo", serif;
  color: rgb(252, 4, 4);
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  border: solid 10px black;
  border-radius: 10px;
  max-width: 1200px;
  margin: 4rem auto;
  padding: 5px;
}

.stock {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}
.stock .stock_img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.stock .stock_img .stock__p {
  font-size: 20px;
}

@media (max-width: 800px) {
  .cuotas {
    font-family: "Arvo", serif;
    background-color: rgb(243, 242, 243);
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;
    margin: 25px;
    padding: 5px;
  }
  .stock {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 1rem;
  }
  .stock .stock_img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    justify-self: center;
  }
  .stock .stock_img .stock__p {
    font-size: 20px;
  }
}
.subtitulo__promo {
  font-family: "Arvo", serif;
  color: rgb(0, 0, 0);
  background-color: rgb(106, 105, 105);
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 250%;
  margin-bottom: 45px;
}

.contenedor__ropa2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor__ropa2 .ropaas__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
  background-color: white(110, 104, 104);
}
.contenedor__ropa2 .ropaas__2 .ropa__elegante2 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 10px solid;
}

.titulo__elegante2 {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.titulo__elegante2 .descripcion__elegante2 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.titulo__elegante2 .descripcion__elegante2 .precioelegante__promo {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(255, 0, 0);
  text-align: center;
}
.titulo__elegante2 .descripcion__elegante2 .precioelegante__promo .precio__elegantee {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: line-through;
}
.titulo__elegante2 .descripcion__elegante2 .precioelegante__promo .precio__elegantee .botton_elegante2 {
  display: block;
  padding: 10px 100px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
}

@keyframes texto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.ayuda {
  font-family: "Arvo", serif;
  text-align: center;
  display: block;
  margin: 60px auto;
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.subtitulo__form {
  color: white;
  background-color: rgb(110, 104, 104);
  display: block;
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-size: 250%;
}

.form {
  background-color: rgb(243, 243, 243);
  margin-top: 40px;
  margin: 0 auto;
  max-width: 500px;
}
.form .label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .formulario {
    padding: 1rem;
  }
}
.nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros .logo_nosotros img {
  width: 20px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
.nosotros .logo_nosotros img .parrafo_nosotros {
  font-family: "Arvo", serif;
  margin: 70px auto;
  font-size: 50px;
}

@media (max-width: 800px) {
  .nosotros {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .parrafo_nosotros {
    font-family: "Arvo", serif;
    margin: 5px;
    font-size: 20px;
  }
  .logo_nosotros {
    height: 350px;
  }
}
.container__2 {
  width: 100%;
  display: flex;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.card {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 350px;
}
.card .contenido {
  padding: 15px;
  text-align: center;
}
.card .contenido h3 {
  font-weight: 600;
  margin-bottom: 30px;
}
.card .contenido a {
  text-decoration: none;
  display: inline block;
  margin-top: 20px;
  color: rgb(2, 2, 245);
  border: 1px solid rgb(2, 2, 245);
  border-radius: 15px;
  transition: all 400ms ease;
  padding: 10px;
}
.card .contenido a:hover {
  background-color: rgb(2, 2, 245);
  color: white;
}

.subtitulo__2 {
  font-family: "Arvo", serif;
  color: black;
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 250%;
}

.galeriaimg {
  width: 95%;
  border-radius: 20px;
}
.galeriaimg:hover {
  opacity: 10;
  border: solid black 2px;
}

.roow {
  display: flex;
  padding: 10px;
}

.colums {
  flex: 5%;
  padding: 10px;
}
.colums .galeriaimg {
  margin-top: 20px;
}

@media (max-width: 1238px) {
  .container__2 {
    width: 100%;
    display: flex;
    max-width: 1300px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }
  .container__2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
  .roow {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .container__2 {
    width: 100%;
    display: flex;
    max-width: 1300px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }
  .container__2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }
  .roow {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
  }
}
footer {
  width: 100%;
  background-color: rgb(146, 143, 143);
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}
.container__footer .box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.container__footer .box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: white;
  font-size: 18px;
}

.box__footer .h2__footer {
  margin-bottom: 20px;
  color: white;
  font-weight: 700;
}
.box__footer a {
  margin: 10px;
  color: white;
  font-weight: 600;
}
.box__footer a:hover {
  opacity: 0.8;
}
.box__footer a .fab {
  font-size: 40px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}
.box__copyright p hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

/*# sourceMappingURL=estilo.css.map */
