footer{
    width: 100%;
    background-color: rgb(146, 143, 143);
}
.container__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;
	.box__footer {
		display: flex;
		flex-direction: column;
		padding: 40px;
		.terms {
			max-width: 350px;
			margin-top: 20px;
			font-weight: 500;
			color: white;
			font-size: 18px;
		}
	}
}
.box__footer {
	.h2__footer {
		margin-bottom: 20px;
		color: white;
		font-weight: 700;
	}
	a {
		margin: 10px;
		color: white;
		font-weight: 600;
		&:hover {
			opacity: 0.8;
		}
		.fab {
			font-size: 40px;
		}
	}
}
.box__copyright {
	max-width: 1200px;
	margin: auto;
	text-align: center;
	padding: 0px 40px;
	p {
		margin-top: 20px;
		color: #7a7a7a;
		hr {
			border: none;
			height: 1px;
			background-color: #7a7a7a;
		}
	}
}